.mainContent {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.title {
    position: fixed;
    right: 5%;
    top: 5%;
    color: #ae95f5;
    text-transform: uppercase;
}