.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table th,
.table td {
    padding: 8px;
    text-align: left;
    min-width: 10rem;
}

.table th {
    background-color: #8346ff;
    color: white;
}

.table tr {
    transition: .3s;
}

.actions {
    display: flex;
    gap: 1rem;
}

.deleteBtn,
.updateBtn {
    cursor: pointer;
    padding: .5rem 1rem;
    transition: .3s;
    text-decoration: none;
    font-weight: 600;
    display: flex;
    gap: .3rem;
    align-items: center;
}

.deleteBtn:hover,
.updateBtn:hover {
    transform: scale(1.1);
}

.deleteBtn {
    color: #ffffff;
    background-color: #e41212;
    border: 1px solid #e41212;
    border-radius: .3rem;
    font-size: 1rem;
}

.updateBtn {
    color: #ffffff;
    background-color: #5d0dff;
    border: 1px solid #5d0dff;
    border-radius: .3rem;
}

.noItemSpan {
    position: absolute;
    left: 45%;
    top: 20%;
    font-size: 2rem;
}